mixin programas-menu(spec)
    .row
        .col-xs-24.col-sm-8
            a(href="/programas-ano-nuevo")
                .programas__container
                    img(src="/images/programas/mini-menu/01.jpg")
                    .programas__wrapper.programas__wrapper--position
                        .programas__text año nuevo 2020
        .col-xs-24.col-sm-8
            a(href="/programas-escapada")
                .programas__container
                    img(src="/images/programas/mini-menu/02.jpg")
                    .programas__wrapper.programas__wrapper--position
                        .programas__text escapada romantica
        .col-xs-24.col-sm-8
            a(href="/programas-fin-de-semana")
                .programas__container
                    img(src="/images/programas/mini-menu/03.jpg")
                    .programas__wrapper.programas__wrapper--position
                        .programas__text programa fin de semana
