.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3b3a60;
    background: $white;
    z-index: 1000;

    @include mq(sm) {
        height: 10vh;
    }

    // &__wrapper {
    //     display: flex;
    //     justify-content: flex-end;
    //     width: 100%;
    //     padding: 20px 0;
    //     flex-direction: column;
    //
    //     @include mq(sm) {
    //         padding: 2vw 0;
    //         flex-direction: row;
    //     }
    // }
    //
    // &__content {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     flex-direction: column;
    //     width: 100%;
    //
    //
    //     @include mq(sm) {
    //         height: 25px;
    //         flex-direction: row;
    //     }
    // }

    &__text {
        text-transform: uppercase;
        margin: 0;
        font-size: 10px;
        margin-bottom: 10px;
        color: #3b3a60;
        letter-spacing: 1.5px;
        font-weight: 600;

        @include mq(sm) {
            // padding: 0 2vh;
            margin: 0;
        }

        &--social {
            margin-bottom: 0;
        }

        // &:last-child {
        //
        //     @include mq(sm) {
        //         border-left: 1px solid $black;
        //     }
        // }
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;

        @include mq(sm) {
            height: 25px;
            justify-content: flex-end;
        }
    }

    &__networks {
        display: flex;

        li {
            padding: 0 20px;

            @include mq(sm) {
                padding: 0 1vw;
            }

            &:last-child {
                border-left: 1px solid $black;
                
                @include mq(md) {
                    padding-right: 0;
                }
            }
        }
    }
}
