footer.footer
    .container
        .row
            .col-xs-24.col-sm-18.col-sm-offset-3
                .footer__content
                    p.footer__text CALLE HIGUERA 133, CERRO ALEGRE · VALPARAÍSO, CHILE
                    p.footer__text
                        | RESERVAS: 
                        a(href="#") +56-32 249 7900 
                        | · 
                        a(href="#") INFO@CASAHIGUERAS.CL
            .col-xs-24.col-sm-3
                .footer__social
                    p.footer__text.footer__text--social síguenos
                    ul.footer__networks
                        li
                            a(href="https://www.facebook.com/casahigueras", target="_blank")
                                i.fa.fa-facebook
                        li
                            a(href="https://www.instagram.com/hotelcasahigueras/", target="_blank")
                                i.fa.fa-instagram
