extends ../_layouts/base

include ../_modules/hotel-menu/hotel-menu

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.hotel
        section.hotel__menu.wrapper
            .container
                +hotel-menu
