.hotel,
.programas,
.empresas {
    &__menu {
        @include mq(sm) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--layout {
            margin-top: 30px;

            @include mq(sm) {
                margin-top: 0;
                height: 77.5vh;
                margin-bottom: 13vh;
            }
        }
    }

    &__container  {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 0;
        margin-bottom: 5vh;
        padding-bottom: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: auto;
        }
    }

    &__wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        background: rgba(0,0,0,.35);
        width: 80%;
        // min-height: 35%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 10px 0;

        @include mq(sm) {
            padding: 1vw 0;
        }

        &--position {
            height: auto;
            justify-content: center;
        }
    }

    &__title {
        @include separator($size: 100px);

        padding-bottom: 20px;
        margin: 0;
        margin-bottom: 20px;
        color: $white;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 3px;

        @include mq(sm) {
            @include separator(7vw);

            padding-bottom: 1vw;
            margin-bottom: 1vw;
            font-size: 16px;
            letter-spacing: 6px;
        }
    }

    &__text {
        color: $white;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        font-size: 18px;
        letter-spacing: 6px;

        @include mq(sm) {
            font-size: 20px;
            padding: 0 15px;
        }

        span {
            font-style: italic;
        }
    }

    &--nostalgia,
    &--lugar,
    &--habitaciones {

        &__servicios {
            text-align: left;
            margin: 0 0 5px;
        }

        &__hero {
            position: relative;

            &__nav-arrow {
                position: fixed;
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                height: 20px;
                width: 20px;
                border-right: 3px solid $black;
                border-bottom: 3px solid $black;
                z-index: 2000;
            }

            &__image {
                overflow: hidden;
                height: 72.5vh;

                @include mq(sm) {
                    height: 77.5vh;
                }

                img {
                    height: auto;
                    width: 100%;
                    min-height: 100%;
                }
            }

            &__wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                background: rgba(0,0,0,.35);
                width: 70%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            &__title {
                @include separator($size: 50px);

                color: $white;
                text-transform: uppercase;
                font-size: 16px;
                padding-bottom: 20px;
                margin-bottom: 20px;
                letter-spacing: 3px;

                @include mq(sm) {
                    @include separator($size: 8vw);
                    padding-bottom: 2vw;
                    margin-bottom: 2vw;

                }
            }

            &__text {
                text-transform: uppercase;
                color: $white;
                letter-spacing: 6px;
                margin-bottom: 0;
                font-size: 32px;
                text-align: center;

                span {
                    font-style: italic;
                }
            }
        }

        &__overview {
            margin-top: 3vh;
            height: 70.5vh;

            @include mq(sm) {
                height: 75.5vh;
                margin-bottom: 10vh;
            }

            &--layout {
                margin-bottom: 0;
            }

            &__wrapper {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                height: 27vh;

                @include mq(sm) {
                    width: 65%;
                    height: 25vh;
                }

                &--habitaciones {
                    height: 25vh;

                    @include mq(sm) {
                        height: 20vh;
                    }
                }

                &--lugar {
                    height: 40vh;

                    @include mq(sm) {
                        height: 25vh;
                    }
                }
            }

            &__container {
                height: 50.5vh;

                &--habitaciones {
                    height: 55.5vh;
                }

                &--premium-superior {
                    height: 75.5vh;
                }
            }

            &__title {
                color: $black;
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-bottom: 10px;
                text-align: center;
                font-size: 22px;

                @include mq(sm) {
                    margin-bottom: 1.5vw;
                }
            }

            &__text {
                text-align: center;
                color: $black;
                line-height: 1.5;
                font-size: 12px;
                letter-spacing: 1.5px;
            }

            &__image {
                width: 100%;
                overflow: hidden;
                height: 48.5vh;
                margin-bottom: 20px;

                @include mq(sm) {
                    height: 50.5vh;
                    margin-bottom: 0;
                }

                &--top {
                    margin-bottom: 3vh;
                }

                &--lugar {
                    height: 32.5vh;

                    @include mq(sm) {
                        height: 50.5vh;
                    }
                }

                &--tradicional {
                    height: 27vh;
                }

                &--premium-superior {
                    height: 36.25vh;
                }

                img {
                    height: auto;
                    width: 100%;
                    min-height: 100%;
                }
            }

            &__description {
                border: 1px solid $black;
                text-align: center;
                padding: 40px 20px;
                height: 72.5vh;

                @include mq(sm) {
                    height: 56.8vh;
                    // padding: 1vw 1vw;
                }

                &--premium,
                &--premium-superior {
                    @include mq(sm) {
                        height: 75.5vh;
                    }
                }
            }

            &__description-wrapper {
                display: flex;
            }

            &__description-col {
                width: 50%;
                padding-right: 5px;

                @include mq(sm) {
                    padding-right: .5vw;
                }

                &:last-child {
                    padding-right: 0;
                    padding-left: 5px;

                    @include mq(sm) {
                        padding-left: .5vw;
                    }
                }

                &--ano-nuevo {
                    width: 80%;
                }
            }

            &__description-title {
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-top: 0;
                margin-bottom: 20px;
            }

            &__description-text {
                text-align: left;
                font-size: 12px;

                &:first-child {
                    margin-bottom: 10px;
                }

                &--rates {
                    color: $green;
                    cursor: pointer;
                    padding: 5px 0;
                    margin-bottom: 5px;
                }

                &--programas {
                    margin-bottom: .5vw;

                    &:first-child {
                        margin-bottom: .5vw;
                    }

                    &--layout {
                        margin-bottom: 2vw;

                        &:first-child {
                            margin-bottom: 2vw;
                        }
                    }
                }

                &--book {
                    @include separator($color: $black);
                    display: block;
                    color: $mainColor;

                    margin-bottom: 1vw;
                    padding-bottom: 1vw;

                    &:after {
                        left: 0;
                        transform: translate(0);
                    }
                }
            }

            &__group {
                &--separator {
                    border-bottom: 1px solid $black;
                    margin-bottom: 15px;
                    padding-bottom: 5px;
                }
            }

            &__rate-title {
                text-align: left;
                font-size: 12px;
                margin-top: 0;
                margin-bottom: 3px;
            }

            &__rate-text,
            &__comment {
                text-align: left;
                font-size: 9px;
                color: $green;
            }


            &__description-list {
                text-align: left;

                li {
                    font-size: 12px;
                }

                &--programas {
                    margin-bottom: 2vw;
                }
            }

            &__rates {
                @include trans;

                max-height: 0;
                opacity: 0;
                overflow: hidden;

                &.-open {
                    max-height: 500px;
                    opacity: 1;
                    overflow: visible;
                }
            }
        }

        &__images {
            height: 72.5vh;

            @include mq(sm) {
                margin-top: 3vh;
                height: 75.5vh;

            }

            &__image {
                overflow: hidden;
                height: 72.5vh;
                margin-bottom: 20px;

                @include mq(sm) {
                    height: 75.5vh;
                    margin-bottom: 0;
                }


                img {
                    height: 100%;
                    width: auto;
                }
            }
        }

        &__more-images {
            height: 72.5vh;

            @include mq(sm) {
                margin-top: 3vh;
                height: 77.5vh;
                margin-bottom: 10vh;
            }

            &__image {
                overflow: hidden;

                img {
                    height: auto;
                    width: 100%;
                    min-height: 100%;
                }

                &--left-top {
                    height: 36.25vh;
                    margin-bottom: 20px;

                    @include mq(sm) {
                        margin-bottom: 3vh;
                    }
                }

                &--left-bottom {
                    height: 36.25vh;
                    margin-bottom: 20px;

                    @include mq(sm) {
                        margin-bottom: 0;
                    }
                }

                &--right  {
                    height: 72.5vh;

                    @include mq(sm) {
                        height: 75.5vh;
                    }
                }
            }
        }

        &__premium {
            margin-top: 3vh;
            margin-bottom: 10vh;
            height: 77.5vh;

            &--layout {
                margin-bottom: 0;
                height: 75.5vh;
            }
        }

        &__premium-superior {
            height: 72.5vh;

            @include mq(sm) {
                margin-top: 3vh;
                height: 75.5vh;
            }

            &--layout {
                margin-top: 0;
            }
        }

        &__eg-modal {
            background: rgba($purple, .9);
            padding: 20px;
            width: 90vw;

            @include mq(sm) {
                width: auto;
                padding: 40px;
            }

            &__wrapper {
                display: flex;
            }

            &__container {
                &--left {
                    width: 50%;

                    @include mq(sm) {
                        width: 25%;
                    }
                }

                &--right {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    width: 50%;

                    @include mq(sm) {
                        width: 75%;
                    }
                }
            }

            &__column {

                &--left {
                    width: 100%;
                }

                &--right {
                    min-width: 140px;

                    @include mq(sm) {
                        width: 33%;
                        min-width: auto;
                    }
                }
            }

            &__cell-heading {
                margin-bottom: 5px;
                color: $white;
                height: 80px;
                border-bottom: 1px solid $white;
                padding-bottom: 20px;
                margin-bottom: 20px;

                h3 {
                    font-size: 14px;
                    font-weight: 900;
                    margin-top: 0;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 10px;
                }
            }

            &__cell {
                height: 35px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                h3 {
                    color: $white;
                    font-size: 14px;
                    font-weight: 900;
                    margin: 0;
                }

                p {
                    font-size: 10px;
                    color: $white;
                }

                span {
                    font-size: 14px;
                    color: $white;
                }
            }

            &__comment {
                width: 100%;
                margin-top: 20px;

                p {
                    font-size: 10px;
                    color: $white;
                }
            }
        }
    }
}
