.hotel,
.programas,
.empresas {
    &__menu {
        @include mq(sm) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--layout {
            margin-top: 30px;

            @include mq(sm) {
                margin-top: 0;
                height: 77.5vh;
                margin-bottom: 13vh;
            }
        }
    }

    &__container  {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 0;
        margin-bottom: 13vh;
        padding-bottom: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: auto;
        }
    }

    &__wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        background: rgba(0,0,0,.35);
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 0;
        height: 50%;
        
        @include mq(sm) {
            padding: 1vw 0;
        }

        &--position {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            background: rgba(0,0,0,.35);
            width: 70%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &__text {
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 6px;
            margin-bottom: 0;
            font-size: 32px;
            text-align: center;
        }
    }

    &__title {
        @include separator($size: 50px);

        color: $white;
        text-transform: uppercase;
        font-size: 16px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        letter-spacing: 3px;
        margin-top: 0;

        @include mq(sm) {
            @include separator($size: 8vw);
            padding-bottom: 1vw;
            margin-bottom: 1vw;
        }
    }

    &__text {
        color: $white;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        font-size: 18px;
        letter-spacing: 6px;

        @include mq(sm) {
            font-size: 20px;
            padding: 0 15px;
        }

        span {
            font-style: italic;
        }
    }

    &--nostalgia,
    &--lugar,
    &--habitaciones {

        &__servicios {
            text-align: left;
            margin: 0 0 5px;
            font-weight: 600;
            font-size: 12px;

            &:after {
                content: ':';
                display: inline;
            }
        }

        &__hero {
            position: relative;

            &__nav-arrow {
                position: fixed;
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                height: 20px;
                width: 20px;
                border-right: 3px solid $black;
                border-bottom: 3px solid $black;
                z-index: 2000;
                background: transparent;
                border-top: transparent;
                border-left: transparent;
                outline: none;
            }

            &__image {
                overflow: hidden;
                height: 72.5vh;
                position: relative;

                @include mq(sm) {
                    height: 77.5vh;
                }

                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    height: 100%;
                    width: auto;

                    @include mq(md) {
                        height: auto;
                        width: 100%;
                    }
                }
            }

            &__wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                background: rgba(0,0,0,.35);
                width: 70%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            &__title {
                @include separator($size: 50px);

                color: $white;
                text-transform: uppercase;
                font-size: 16px;
                padding-bottom: 20px;
                margin-bottom: 20px;
                letter-spacing: 3px;

                @include mq(sm) {
                    @include separator($size: 8vw);
                    padding-bottom: 2vw;
                    margin-bottom: 2vw;

                }
            }

            &__text {
                text-transform: uppercase;
                color: $white;
                letter-spacing: 6px;
                margin-bottom: 0;
                font-size: 32px;
                text-align: center;

                span {
                    font-style: italic;
                }
            }
        }

        &__overview {
            margin-top: 3vh;
            // min-height: 70.5vh;

            @include mq(sm) {
                // min-height: 75.5vh;
                // margin-bottom: 10vh;
            }

            &--layout {
                margin-bottom: 0;
            }

            &__wrapper {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                // height: 27vh;

                @include mq(sm) {
                    width: 65%;
                    // height: 25vh;
                }

                &--habitaciones {
                    // height: 25vh;

                    @include mq(sm) {
                        // height: 20vh;
                    }
                }

                &--lugar {
                    margin-bottom: 40px;
                    // height: 40vh;

                    // @include mq(sm) {
                    //     height: 25vh;
                    // }
                }
            }

            &__container {
                margin-bottom: 40px;
                // height: 50.5vh;

                // &--habitaciones {
                //     height: 55.5vh;
                // }

                // &--premium-superior {
                //     height: 75.5vh;
                // }
            }

            &__title {
                color: $black;
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-bottom: 10px;
                text-align: center;
                font-size: 22px;

                @include mq(sm) {
                    margin-bottom: 1.5vw;
                }
            }

            &__text {
                text-align: center;
                color: $black;
                line-height: 1.5;
                font-size: 12px;
                letter-spacing: 1.5px;
            }

            &__image {
                width: 100%;
                overflow: hidden;
                height: 0;
                margin-bottom: 3vh;
                position: relative;
                padding-bottom: 48%;

                @include mq(sm) {
                    padding-bottom: 50%;
                }

                &--left {
                    padding-bottom: 104.5%;
                }

                &--top {
                    margin-bottom: 3vh;
                }

                &--lugar {
                    margin-bottom: 3vh;
                    padding-bottom: 104.5%;

                    @include mq(sm) {
                        // height: 50.5vh;
                    }
                }

                &--lugar-big {
                    margin-bottom: 3vh;
                    padding-bottom: 50%;

                    @include mq(sm) {
                        // height: 50.5vh;
                    }
                }

                &--tradicional {
                    padding-bottom: 56.5%;
                    margin-bottom: 3vh;
                }

                &--premium-superior {
                    padding-bottom: 56.5%;
                }

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    width: 100%;
                    height: auto;
                }
            }

            &__description {
                border: 1px solid $black;
                text-align: center;
                padding: 40px 20px 150px 20px;
                height: auto;
                min-height: 54vh;
                margin-bottom: 3vh;
            }

            &__description-wrapper {
                display: flex;
            }

            &__description-col {
                width: 50%;
                padding-right: 5px;

                @include mq(sm) {
                    padding-right: .5vw;
                }

                &:last-child {
                    padding-right: 0;
                    padding-left: 5px;

                    @include mq(sm) {
                        padding-left: .5vw;
                    }
                }

                &--ano-nuevo {
                    width: 80%;
                }
            }

            &__description-title {
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-top: 0;
                margin-bottom: 20px;
            }

            &__description-text {
                text-align: left;
                font-size: 12px;

                &:first-child {
                    margin-bottom: 10px;
                }

                &--rates {
                    color: $mainColor;
                    cursor: pointer;
                    margin: 0;
                    margin-right: 20px;
                    padding-right: 20px;
                    border-right: 1px solid $black;
                    display: inline-block;
                    min-width: 60px;

                    &:hover {
                        font-weight: 900;
                        color: $mainColor;
                    }
                }

                &--programas {
                    margin-bottom: .5vw;

                    &:first-child {
                        margin-bottom: .5vw;
                    }

                    &--layout {
                        margin-bottom: 2vw;

                        &:first-child {
                            margin-bottom: 2vw;
                        }
                    }
                }

                &--book {
                    display: block;
                    color: $mainColor;
                    margin: 0;
                    min-width: 60px;

                    &:hover {
                        font-weight: 900;
                        color: $mainColor;
                    }
                }
            }

            &__rates-group {
                display: flex;
                margin-top: 40px;
            }

            &__group {
                &--separator {
                    border-bottom: 1px solid $black;
                    margin-bottom: 15px;
                    padding-bottom: 5px;
                }
            }

            &__rate-title {
                text-align: left;
                font-size: 12px;
                margin-top: 0;
                margin-bottom: 3px;
            }

            &__rate-text,
            &__comment {
                text-align: left;
                font-size: 9px;
                color: $green;
            }


            &__description-list {
                text-align: left;

                li {
                    font-size: 12px;
                }

                &:first-child {
                    margin-bottom: 20px;
                }

                &--programas {
                    margin-bottom: 2vw;
                }
            }

            &__rates {
                @include trans;

                max-height: 0;
                opacity: 0;
                overflow: hidden;

                &.-open {
                    max-height: 500px;
                    opacity: 1;
                    overflow: visible;
                }
            }
        }

        &__images {
            // height: 72.5vh;

            @include mq(sm) {
                margin-top: 3vh;
                // height: 75.5vh;

            }

            &__image {
                overflow: hidden;
                // height: 72.5vh;
                margin-bottom: 3vh;
                position: relative;
                height: 0;
                padding-bottom: 100%;

                @include mq(sm) {
                    // height: 75.5vh;
                    // margin-bottom: 0;
                }


                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    height: 100%;
                    min-width: 100%;
                }
            }
        }

        &__more-images {
            // height: 72.5vh;
            // margin-bottom: 100px;

            @include mq(sm) {
                // margin-top: 3vh;
                // height: 77.5vh;
                margin-bottom: 10vh;
            }

            &__image {
                overflow: hidden;
                position: relative;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                }

                &--left-top {
                    // height: 50%;
                    margin-bottom: 20px;
                    padding-bottom: 50%;

                    @include mq(sm) {
                        margin-bottom: 3vh;
                    }
                    
                    img {
                        height: auto;
                        width: 100%;
                    }
                }

                &--left-bottom {
                    padding-bottom: 100%;
                    margin-bottom: 20px;

                    @include mq(sm) {
                        margin-bottom: 3vh;
                    }

                    img {
                        height: 100%;
                        width:auto;
                        min-width: 100%;
                    }
                }

                &--half  {
                    // height: 72.5vh;
                    margin-bottom: 20px;
                    padding-bottom: 150%;

                    @include mq(sm) {
                        // height: 75.5vh;
                        margin-bottom: 3vh;
                    }

                    img  {
                        height: 100%;
                        width: auto;
                    }
                }

                &--half-left {
                    margin-bottom: 20px;
                    padding-bottom: calc(75% - 1.5vh);

                    @include mq(sm) {
                        // height: 75.5vh;
                        margin-bottom: 3vh;
                    }
                }

                &--big,
                &--big-alt {
                    height: 0;
                    margin-bottom: 20px;
                    padding-bottom: 100%;
                    
                    @include mq(sm) {
                        // height: 75.5vh;
                        margin-bottom: 3vh;
                    }
                    
                    img {
                        height: 100%;
                        width: auto;

                        @include mq(md) {
                            // height: auto;
                            // width: 100%;
                        }
                    }
                }

                &--big-alt {
                    img {
                        height: auto;
                        width: 100%;

                        @include mq(md) {
                            // height: auto;
                            // width: 100%;
                        }
                    }
                }

                &--double {
                    height: 0;
                    padding-bottom: 200%;
                    margin-bottom: 20px;

                    @include mq(sm) {
                        // height: 151vh;
                        margin-bottom: 3vh;
                    }

                    img {
                        height: 100%;
                        width: auto;

                        @include mq(md) {
                            // height: auto;
                            // width: 100%;
                        }
                    }
                }
            }
        }

        &__premium {
            margin-top: 3vh;
            margin-bottom: 10vh;
            height: 77.5vh;

            &--layout {
                margin-bottom: 0;
                height: 75.5vh;
            }
        }

        &__premium-superior {
            height: 72.5vh;

            @include mq(sm) {
                margin-top: 3vh;
                height: 75.5vh;
            }

            &--layout {
                margin-top: 0;
            }
        }

        &__eg-modal {
            background: rgba($purple, .9);
            padding: 20px;
            width: 90vw;

            @include mq(sm) {
                width: auto;
                padding: 40px;
            }

            &__wrapper {
                display: flex;
            }

            &__container {
                &--left {
                    width: 50%;

                    @include mq(sm) {
                        width: 25%;
                    }
                }

                &--right {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    width: 50%;

                    @include mq(sm) {
                        width: 75%;
                        overflow-x: auto;
                    }
                }
            }

            &__column {

                &--left {
                    width: 100%;
                }

                &--right {
                    min-width: 140px;

                    @include mq(sm) {
                        width: 34%;
                        min-width: auto;
                    }
                }
            }

            &__cell-heading {
                margin-bottom: 5px;
                color: $white;
                height: 80px;
                border-bottom: 1px solid $white;
                padding-bottom: 20px;
                margin-bottom: 20px;

                h3 {
                    font-size: 14px;
                    font-weight: 900;
                    margin-top: 0;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 10px;
                    margin-bottom: 0;
                }
            }

            &__cell {
                height: 35px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                h3 {
                    color: $white;
                    font-size: 14px;
                    font-weight: 900;
                    margin: 0;
                }

                p {
                    font-size: 10px;
                    color: $white;
                }

                span {
                    font-size: 14px;
                    color: $white;
                }
            }

            &__comment {
                width: 100%;
                margin-top: 20px;

                p {
                    font-size: 10px;
                    color: $white;
                }
            }
        }
    }
}

.hotel--habitaciones__overview__description-title {
    @include mq(md) {
        margin-bottom: 35px;
    }
}
