extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.programas.programas-fin-de-semana
        .container
            .row
                .col-xs-20.col-xs-offset-2
                    section.programas--habitaciones__premium-superior.wrapper
                        .row
                            .programas--habitaciones__overview__container.programas--habitaciones__overview__container--habitaciones.programas--habitaciones__overview__container--premium-superior
                                .col-xs-24.col-sm-12
                                    .row
                                        .col-xs-24
                                            .programas--habitaciones__overview__image.programas--habitaciones__overview__image--tradicional.programas--habitaciones__overview__image--top.programas--habitaciones__overview__image--premium-superior
                                                img(src="/images/03. Programas/03. Fin de Semana/01. Fin.jpg")
                                    .row
                                        .col-xs-24
                                            .programas--habitaciones__overview__image.programas--habitaciones__overview__image--tradicional.programas--habitaciones__overview__image--premium-superior
                                                img(src="/images/03. Programas/03. Fin de Semana/02. Fin.jpg")
                                .col-xs-24.col-sm-12
                                    .programas--habitaciones__overview__description.programas--habitaciones__overview__description--premium-superior
                                        h3.programas--habitaciones__overview__description-title programa fin de semana
                                        .programas--habitaciones__overview__description-wrapper
                                            .programas--habitaciones__overview__description-col.programas--habitaciones__overview__description-col--ano-nuevo
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas.programas--habitaciones__overview__description-text--programas--layout Validez: Entre el 01 de mayo y el 30 de septiembre 2018.
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas.programas--habitaciones__overview__description-text--programas--layout Incluye
                                                ul.programas--habitaciones__overview__description-list.programas--habitaciones__overview__description-list--programas
                                                    li • Dos noches de alojamiento para dos personas
                                                    li • Cena o almuerzo a la carta para dos en Restaurant Maralegre
                                                    li • Desayuno
                                                    li • Uso de sauna, jacuzzi y piscina
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas Check in 15:00 hrs  / Check out 12:00 hrs
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas Desde $318.000 / 456 USD
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas Detalles y disponibilidad a 
                                                    a(href="/") info@casahigueras.cl
                                                    
