extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.programas.programas-escapada
        .container
            .row
                .col-xs-20.col-xs-offset-2
                    section.programas--habitaciones__premium-superior.programas--habitaciones__premium-superior--layout.wrapper
                        .row
                            .programas--habitaciones__overview__container.programas--habitaciones__overview__container--habitaciones.programas--habitaciones__overview__container--premium-superior
                                .col-xs-24.col-sm-12
                                    .row
                                        .col-xs-24
                                            .programas--habitaciones__overview__image.programas--habitaciones__overview__image--tradicional.programas--habitaciones__overview__image--top.programas--habitaciones__overview__image--premium-superior
                                                img(src="/images/programas/escapada-romantica/01.jpg")
                                    .row
                                        .col-xs-24
                                            .programas--habitaciones__overview__image.programas--habitaciones__overview__image--tradicional.programas--habitaciones__overview__image--premium-superior
                                                img(src="/images/programas/escapada-romantica/02.jpg")
                                .col-xs-24.col-sm-12
                                    .programas--habitaciones__overview__description.programas--habitaciones__overview__description--premium-superior
                                        h3.programas--habitaciones__overview__description-title escapada romantica
                                        .programas--habitaciones__overview__description-wrapper
                                            .programas--habitaciones__overview__description-col.programas--habitaciones__overview__description-col--ano-nuevo
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas.programas--habitaciones__overview__description-text--programas--layout Validez: Entre el 01 de mayo y el 30 de septiembre 2018.
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas.programas--habitaciones__overview__description-text--programas--layout Incluye
                                                ul.programas--habitaciones__overview__description-list.programas--habitaciones__overview__description-list--programas
                                                    li • Una noche de alojamiento con vista a la bahía
                                                    li • Espumante de bienvenida
                                                    li • Chocolates y rosas
                                                    li • Cena a la carta en Restaurant Maralegre
                                                    li • Late Check Out 14:00 hrs
                                                    li • Servicio desayuno continental a la habitación
                                                    li • Uso ilimitado de sauna, jacuzzi y piscina
                                                    li • Upgrade según disponibilidad
                                                    li • 10% de descuento en noche adicional
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas Desde $278.000 / 442 USD
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas Detalles y disponibilidad a 
                                                    a(href="/") info@casahigueras.cl
                                                    
