.header {
    $h: &;
    height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 2000;
    background: $white;
    margin-bottom: 2.5vh;

    @include mq(sm) {
        // height: 7.5vh;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10vh;
        padding-right: 80px;
        width: 100%;

        @include mq(sm) {
            padding-right: 0;
            // height: auto;
        }
    }

    &__image {
        width: 30vw;
        height: 5vh;

        @include mq(sm) {
            width: 25%;
            height: 7vh;
        }

        @include customMq(1600px) {
            height: 5vh;
        }

        img {
            width: auto;
            height: 100%;
        }
    }

    &__nav {
        @include trans;

        position: fixed;
        height: 90vh;
        top: 10vh;
        width: 100%;
        transform: translateX(-100%);
        background: $white;
        z-index: 1000;

        @include mq(sm) {
            background: none;
            position: static;
            transform: translateX(0);
            height: auto;
            width: auto;
            z-index: auto;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        flex-direction: column;

        @include mq(sm) {
            justify-content: flex-end;
            flex-direction: row;
        }

        li {
            @include separator($size: 80px, $color:#3b3a60, $bottom: -20px);

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 20px;

            @include mq(sm) {
                margin-bottom: 0;
                padding: 0 1vw;

                &:after {
                    display: none;
                }
            }

            &:not(:first-child) {
                padding-top:20px;

                @include mq(sm) {
                    border-left: 1px solid $black;
                    border-top: none;
                    padding-top: 0;
                }
            }

            &.-active {
                position: relative;

                &:before {
                    content: '';
                    bottom: -10px;
                    height: 1px;
                    width: 50px;
                    background: $mainColor;
                    position: absolute;
                    left:calc(50% - 25px);
                }

                a {
                    font-weight: 700;
                }
            }
        }

        a {
            color: #3b3a60;

            @include mq(sm) {
                font-size: 1.2vmin;
                letter-spacing: 1.5px;
                font-weight: normal;
            }

        }
    }

    &__language-selector {
        // width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mq(sm) {
            justify-content: flex-end;
        }
    }

    &__language {
        background: transparent;
        border: none;
        text-transform: uppercase;
        padding: 0 20px;
        font-size: 12px;

        @include mq(sm) {
            padding: 0 1vw;
            font-size: 1.2vmin;

        }

        &:not(:first-child) {
            border-left: 1px solid $black;
        }
    }

    &__hamburguer {
        cursor: pointer;
        width: 25px;
        height: 25px;
        margin: auto;
        position: absolute;
        right: 32px;
        top: 23px;
        z-index: 2000;

        @include mq(sm) {
            display: none;
        }

        span {
            background-color: $mainColor;
            border-radius: 2px;
            content: '';
            display: block;
            width: 100%;
            height: 2px;

            &:nth-child(1) {
                animation:outT 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(2) {
                margin: 7px 0;
                animation:outM 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(3) {
                animation:outBtm 0.6s $easing backwards;
                animation-direction:reverse;
            }
        }
    }

    &.-open {
        #{$h}__hamburguer {
            span:nth-child(1) {
                animation:inT 0.6s $easing forwards;
            }
            span:nth-child(2) {
                animation:inM 0.6s $easing forwards;
            }
            span:nth-child(3) {
                animation:inBtm 0.6s $easing forwards;
            }
        }

        #{$h}__nav {
            transform: translateX(0);
            left: 0;
        }
    }
}

//hamburguer animations
@keyframes inM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes outM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes inT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes outT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes inBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
@keyframes outBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
