extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.programas.programas-ano-nuevo
        .container
            .row
                .col-xs-20.col-xs-offset-2
                    section.programas--habitaciones__premium-superior.wrapper
                        .row
                            .programas--habitaciones__overview__container.programas--habitaciones__overview__container--habitaciones.programas--habitaciones__overview__container--premium-superior
                                .col-xs-24.col-sm-12
                                    .row
                                        .col-xs-24
                                            .programas--habitaciones__overview__image.programas--habitaciones__overview__image--tradicional.programas--habitaciones__overview__image--top.programas--habitaciones__overview__image--premium-superior
                                                img(src="/images/03. Programas/01. Año Nuevo/01. Año nuevo.jpg")
                                    .row
                                        .col-xs-24
                                            .programas--habitaciones__overview__image.programas--habitaciones__overview__image--tradicional.programas--habitaciones__overview__image--premium-superior
                                                img(src="/images/03. Programas/01. Año Nuevo/02. Año nuevo.jpg")
                                .col-xs-24.col-sm-12
                                    .programas--habitaciones__overview__description.programas--habitaciones__overview__description--premium-superior
                                        h3.programas--habitaciones__overview__description-title año nuevo 2019
                                        .programas--habitaciones__overview__description-wrapper
                                            .programas--habitaciones__overview__description-col.programas--habitaciones__overview__description-col--ano-nuevo
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas Check in: Domingo 30 o Lunes 31 de Diciembre
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas.programas--habitaciones__overview__description-text--programas--layout Check out: Martes 01 o Miercoles 02 de Enero
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas.programas--habitaciones__overview__description-text--programas--layout Incluye
                                                ul.programas--habitaciones__overview__description-list.programas--habitaciones__overview__description-list--programas
                                                    li • Dos noches de alojamiento
                                                    li • Uso de sauna, jacuzzi y piscina interior
                                                    li • Espumoso y chocolates
                                                    li • Cena de Año Nuevo y área louunge después de la cena con bar abierto hasta las 2:00 am.
                                                    li • Desayuno Buffett en Restaurant Maralegre
                                                    li • Brunch 01 de Enero
                                                    li • Caminta guiada por los Cerros Alegre y Concepción
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas Check in 15:00 hrs  / Check out 12:00 hrs
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas Desde $1.825.000 / 2860 USD
                                                p.programas--habitaciones__overview__description-text.programas--habitaciones__overview__description-text--programas Detalles y disponibilidad a 
                                                    a(href="/") info@casahigueras.cl
                                                    
