extends ../_layouts/base

include ../_modules/hotel-menu/hotel-menu

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.hotel--nostalgia
        section.hotel--nostalgia__wrapper.wrapper
            .container
                .row
                    .col.xs.24
                        section.hotel--nostalgia__hero
                            button.hotel--nostalgia__hero__nav-arrow.scroll-down
                            .hotel--nostalgia__hero__image
                                img(src="/images/hotel/el-hotel/01.jpg")
                            .hotel--nostalgia__hero__wrapper
                                p.hotel--nostalgia__hero__title El hotel
                                p.hotel--nostalgia__hero__text nostalgia 
                                    span chic
                .row
                    .col-xs-20.col-xs-offset-2
                        section.hotel--nostalgia__overview.hotel--nostalgia__overview--layout#overview
                            .row
                                .col-xs-24
                                    .hotel--nostalgia__overview__wrapper
                                        h3.hotel--nostalgia__overview__title nostalgia chic
                                        p.hotel--nostalgia__overview__text Una sencilla fachada de la calle Higuera esconde en su interior este sofisticado y cálido hotel bouttique de más de 1600 m2, que ocupa los cinco niveles originales de la cason, donde se distribuyan 20 habitaciones diseñadas con buen gusto y elegancia.
                            .row
                                .col-xs-24.col-sm-8
                                    .hotel--nostalgia__overview__image
                                        img(src="/images/hotel/el-hotel/02.jpg")
                                .col-xs-24.col-sm-16
                                    .hotel--nostalgia__overview__image
                                        img(src="/images/hotel/el-hotel/03.jpg")
                .row
                    .col-xs-20.col-xs-offset-2
                        section.hotel--nostalgia__images
                            .row
                                .col-xs-24.col-sm-12
                                    .hotel--nostalgia__images__image
                                        img(src="/images/hotel/el-hotel/04.jpg")
                                .col-xs-24.col-sm-12
                                    .hotel--nostalgia__images__image
                                        img(src="/images/hotel/el-hotel/05.jpg")
                .row
                    .col-xs-20.col-xs-offset-2
                        section.hotel--nostalgia__more-images
                            .row
                                .col-xs-24.col-sm-12
                                    .row
                                        .col-xs-24
                                            .hotel--nostalgia__more-images__image.hotel--nostalgia__more-images__image--left-top
                                                img(src="/images/hotel/el-hotel/06.jpg")
                                    .row
                                        .col-xs-24
                                            .hotel--nostalgia__more-images__image.hotel--nostalgia__more-images__image--left-bottom
                                                img(src="/images/hotel/el-hotel/07.jpg")
                                .col-xs-24.col-sm-12
                                    .hotel--nostalgia__more-images__image.hotel--nostalgia__more-images__image--right
                                        img(src="/images/hotel/el-hotel/08.jpg")
                +hotel-menu                        
                                        
                                        
