extends ../_layouts/base

include ../_modules/programas-menu/programas-menu

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.programas
        section.programas__content.wrapper
            .container
                .row
                    .col-xs-24
                        .programas__slider.programas__slider--layout
                            button.hotel--habitaciones__hero__nav-arrow.scroll-down
                            .programas__slide
                                img(src="/images/programas/valparaiso-perfecto.jpg")
                                .programas__wrapper.programas__wrapper--position
                                    .programas__title programas
                                    .programas__wrapper__text valparaíso prefecto
            section.programas__menu.programas__menu--layout#overview
                .container
                    +programas-menu
