extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.programas
        section.programas__content.wrapper
            .container
                .row
                    .col-xs-24
                        .programas__slider.programas__slider--layout
                            a.hotel--habitaciones__hero__nav-arrow(href="#overview")
                            .programas__slide
                                img(src="/images/programas/valparaiso-perfecto.jpg")
                                .programas__wrapper.programas__wrapper--position
                                    .programas__title programas
                                    .programas__wrapper__text valparaíso prefecto
            section.programas__menu.programas__menu--layout#overview
                .container
                    .row
                        .col-xs-24.col-sm-8
                            a(href="/programas-ano-nuevo")
                                .programas__container
                                    img(src="/images/programas/mini-menu/01.jpg")
                                    .programas__wrapper.programas__wrapper--position
                                        .programas__text año nuevo 2019
                        .col-xs-24.col-sm-8
                            a(href="/programas-escapada")
                                .programas__container
                                    img(src="/images/programas/mini-menu/02.jpg")
                                    .programas__wrapper.programas__wrapper--position
                                        .programas__text escapada romantica
                        .col-xs-24.col-sm-8
                            a(href="/programas-fin-de-semana")
                                .programas__container
                                    img(src="/images/programas/mini-menu/03.jpg")
                                    .programas__wrapper.programas__wrapper--position
                                        .programas__text programa fin de semana
